<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ze.pigSale.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.ze.pigSale.entity.Category">
        <id property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id
        ,category_name,parent_id,createTime,updateTime
    </sql>

    <!-- void insertCategory(Category category); -->
    <insert id="insertCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into category
        values (null, #{categoryName}, #{parentId}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateCategory">
        update category
        set category_name = #{categoryName}, parent_id = #{parentId}, update_time = #{updateTime}
        where category_id = #{categoryId}
    </update>

    <delete id="deleteCategory">
        delete from category
        where category_id = #{categoryId}
    </delete>

    <!--Category getCategoryById(Integer id);-->
    <select id="getCategoryById" resultType="Category">
        select *
        from category
        where category_id = #{id}
    </select>

    <!-- List<Category> getCategoryList(); -->
    <select id="getCategoryList" resultType="Category">
        select *
        from category
    </select>

</mapper>
