<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ze.pigSale.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.ze.pigSale.entity.Address">
            <id property="addressId" column="address_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="recipientName" column="recipient_name" jdbcType="VARCHAR"/>
            <result property="recipientPhone" column="recipient_phone" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
            <result property="isDefault" column="isDefault" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        address_id,user_id,recipient_name,
        recipient_phone,province,city,
        district,detail,isDefault
    </sql>

    <select id="getAddressListByUserId" resultType="address">
        select *
        from address
        where user_id = #{userId}
    </select>

    <select id="getAddressById" resultType="com.ze.pigSale.entity.Address">
        select * from address where address_id = #{addressId}
    </select>

    <insert id="insertAddress" useGeneratedKeys="true" keyProperty="addressId">
        insert into address
        values (null, #{userId}, #{recipientName}, #{recipientPhone}, #{province}, #{city}, #{district}, #{detail}, #{isDefault})
    </insert>

    <insert id="insertBatch">
        insert into address values
        <foreach collection="list" separator="," item="item">
            (null, #{item.userId}, #{item.recipientName}, #{item.recipientPhone}, #{item.province}, #{item.city}, #{item.district}, #{item.detail}, #{item.isDefault})
        </foreach>
    </insert>

    <update id="updateAddress">
        update address
        set recipient_name = #{recipientName}, recipient_phone = #{recipientPhone},
            province = #{province}, city = #{city}, district = #{district}, detail = #{detail}, isDefault = #{isDefault}
        where user_id = #{userId} and address_id = #{addressId}
    </update>

    <update id="updateIsDefault">
        update address
        set isDefault = 0
        where address_id != #{addressId}
    </update>

    <delete id="deleteAddress">
        delete from address
        where address_id = #{addressId}
    </delete>



</mapper>
